.otherNew_bnews_1_0_0{
    padding: 20px 0;
    &__head{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #dee2e6;
        >span{
            border-left: 5px solid #f76c06;
            padding-left: 10px
        }
    }
    &__list{
        display: flex;
        margin: 0 -10px;
    }
    &__item{
        width: 20%;
        margin: 0 10px;
    }
    &__thumb{
        margin-bottom: 20px;
        padding-top: 56.25%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__meta{
        font-size: 11px;
    }
    &__icon{
        max-width: 12px;
        width: 100%;
        height: auto;
        margin-bottom: -2px;
    }
    &__date{
        margin-right: 6px;
    }
    &__cate{
        >a{
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
            transition: all 0.25s ease;
            &:hover{
                opacity: 0.8;
                color: #ff8c38 !important;
            }
        }
    }
    &__title{
        display: block;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 5px;
        transition: all 0.25s ease;
            &:hover{
                color: #ff8c38 !important;
            }
    }
    &__desc{
        font-size: 14px;
    }
    @media (max-width: 1024px){
        &__list{
            flex-wrap: wrap
        }
        &__item{
            width: calc(33.3% - 20px);
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px){
        &__item{
            width: calc(50% - 20px);
        }
    }
    @media (max-width: 430px){
        &__list{
            margin: 0 -5px;
        }
        &__item{
            width: calc(50% - 10px);
            margin: 0 5px 10px;
        }
        &__title, &__desc{
            font-size: 13px;
        }
    }
}