.social_bnews_1_0_0{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    margin: 20px 0;
    &__text{
        font-weight: 700;
        margin-right: 10px;
    }
    &__list{
        display: flex;
    }
    &__item{
        margin: 0 5px;
        img{
            max-width: 45px;
            width: 100%;
            height: auto;
            display: block;
        }
    }
    @media (max-width: 430px){
        &__text{
            font-size: 15px;
        }
        &__item img{
            max-width: 35px;
        }
    }
}