.contact_bnews_1_0_1 {
  background-color: #f8f9fa;
  padding: 30px 0 80px;
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #666;
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background: #d9d9d9;
      left: 0;
      right: 0;
      top: 100%;
      margin: 0 auto;
    }
  }
  &__inner{
    display: flex;
    align-items: flex-start;
  }
  &__form{
    width: 65%;
    background: #fff;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
    border-radius: 30px;
    padding: 30px;
  }
  &__info{
    width: 35%;
    background: #f76c06;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
    border-radius: 30px;
    color: #fff;
    padding: 30px;
    position: relative;
    top: 100px;
    right: 150px;
  }
  &__formBox{
    width: 70%;
  }
  &__head{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__group{
    margin-bottom: 10px;
    input, textarea{
      width: 100%;
      padding: 0 15px;
      border: 1px solid #dee2e6;
      height: 40px;
      appearance: none;
      outline: none;
      border-radius: .25rem;
      background-color: #fff;
    }
    textarea{
      padding: 10px 15px;
      min-height: 80px;
      overflow: auto;
      resize: vertical;
    }
  }
  &__submit{
    input{
      border: 1px solid transparent;
      cursor: pointer;
      color: #fff;
      transition: all 0.3s;
      z-index: 1;
      background: #f76c06;
      border-radius: .25rem;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      padding: .375rem .75rem;
      &:hover, &:active{
        background: #ff8c38;
      }
    }
  }
  &__item{
    margin-bottom: 15px;
    img{
      width: 100%;
      height: auto;
      max-width: 15px;
      display: inline-block;
      margin-bottom: -2px;
    }
  }
  &__text{
    margin-left: 5px;
  }
  @media (max-width: 1200px){
    padding: 30px 0 100px;
  }
  @media (max-width: 1024px){
    &__inner{
      align-items: normal;
    }
    &__formBox{
      width: 100%;
    }
    &__info{
      position: static;
    }
  }
  @media (max-width: 767px){
    &__inner{
      flex-direction: column;
    }
    &__form{
      width: 100%;
    }
    &__info{
      width: 100%;
    }
  }
  @media  (max-width: 430px){
    &__form, &__info{
      padding: 20px;
    }
  }
}
