.news_bnews_1_0_0{
    padding: 30px 0;
    &__inner{
        display: flex;
        margin: 0 -10px;
    }
    &__col{
        width: 33.33%;
        margin: 0 10px;
    }
    &__head{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #dee2e6;
        >span{
            border-left: 5px solid #f76c06;
            padding-left: 10px
        }
    }
}